<html>
    <head>
        <title> Машины </title>
    </head>
    <body>
        <h1>Мои любибые машины</h1>
        <p>здесь я опубликовал свои любимые машины</p>
        <a href="https://ru.wikipedia.org/wiki/Lamborghini_Veneno">Ламборгини</a>
        <img src="{{  url_for('static', filename='Ламборгини.jpg')    }}" width="200px"/>
        <a href="https://ru.wikipedia.org/wiki/Ferrari_Portofino">Ферари</a>
        <img src="{{  url_for('static', filename='феррари.jpg')    }}" width="200px"/>
        <a href="https://ru.wikipedia.org/wiki/Bentley_Continental_GT#Second_generation_(2011-present)">Бентли</a>
        <img src="{{  url_for('static', filename='бентли.jpg')    }}" width="200px"/>
    </body> 
</html>