<html>
    <body>
        <table>
            <p style="font-size:35px;">спорт кары</p>
            <tr font-size: 50px;>
                </td>
                <td><a style="font-size: 28px;" href="https://ru.wikipedia.org/wiki/LADA_Granta">лада Гранта</a>
                </td>
                <td> 
                    <img src="{{  url_for('static', filename='kfl.jpg')    }}" width="200px"/>

                </td>

                <td><a style="font-size: 28px;" href="https://ru.wikipedia.org/wiki/Logan">Рено логан</a>
                </td>
                <td> 
                    <img src="{{  url_for('static', filename='рено.jpg')    }}" width="200px"/>

                </td>
                <td><a style="font-size: 28px;" href="https://ru.wikipedia.org/wiki/Subaru_BRZ">субару брз</a>
                </td>
                <td>
                    <img src="{{  url_for('static', filename='субару.jpg')    }}" width="200px"/>
                </td>

                <td><a style="font-size: 28px;" href="https://ru.wikipedia.org/wiki/Nissan_GT-R">нисан</a>
                </td>
                <td>
                    <img src="{{  url_for('static', filename='нисан.jpg')    }}" width="200px"/>
                </td>
            </tr> 
        </table>
    </body>
</html>