<html>
    <body>
        <table>
            <p style="font-size:35px;">спорт кары</p>
            <tr font-size: 50px;>
                <td><a style="font-size: 28px;" href="https://ru.wikipedia.org/wiki/Lamborghini_Veneno">Ламборгини</a>
                </td>
                <td>
                    <img src="{{  url_for('static', filename='Ламборгини.jpg')    }}" width="200px"/>

                </td>
                <td><a style="font-size: 28px;" href="https://ru.wikipedia.org/wiki/Ferrari_Portofino">Ферари</a>
                </td>
                <td> 
                    <img src="{{  url_for('static', filename='феррари.jpg')    }}" width="200px"/>

                </td>
                <td><a style="font-size: 28px;" href="https://ru.wikipedia.org/wiki/Bentley_Continental_GT#Second_generation_(2011-present)">Бентли</a>
                </td>
                <td>
                    <img src="{{  url_for('static', filename='бентли.jpg')    }}" width="200px"/>
                </td>

                <td><a style="font-size: 28px;" href="https://ru.wikipedia.org/wiki/Bugatti_Veyron">бугатти</a>
                </td>
                <td>
                    <img src="{{  url_for('static', filename='бугатти.jpg')    }}" width="200px"/>
                </td>
            </tr> 
        </table>
    </body>
</html>